version: 2.1

orbs:
  docker: circleci/docker@1.4.0

jobs:
  build-image:
    machine:
      image: ubuntu-2204:current
      docker_layer_caching: true
    resource_class: medium
    parameters:
      release_model:
        type: string
      release_ver:
        type: string
    steps:
      - docker/check:
          docker-username: DOCKERHUB_USERNAME
          docker-password: DOCKERHUB_TOKEN
      - checkout
      - run:
          name: "Build image"
          command: |
            set -xe
            pwd
            source ./findReleaseInfo.sh << parameters.release_model >> << parameters.release_ver >>
            mkdir bin
            chmod 777 bin
            docker run --rm -e SOURCE_DATE_EPOCH=$SOURCE_DATE_EPOCH -v $(pwd):/home/build/openwrt/custom_scripts -v $(pwd)/bin:/home/build/openwrt/bin openwrt/imagebuilder:${RELEASE_ARCH_SOC}-${RELEASE_VER} /home/build/openwrt/custom_scripts/build.sh << parameters.release_model >>
            ls -laR bin/targets

      - store_artifacts:
          path: bin/targets
workflows:
  build-workflow:
    jobs:
      - build-image:
          matrix:
            parameters:
              # release_model: ["xiaomi_mi-router-3g", "xiaomi_mir3g"]
              # release_ver: ["snapshot", "stable", "openwrt-19.07"]
              release_model: ["xiaomi_mi-router-3g"]
              release_ver: ["snapshot", "stable"]
            # exclude:
            #   - release_model: xiaomi_mi-router-3g
            #     release_ver: openwrt-19.07
            #   - release_model: xiaomi_mir3g
            #     release_ver: snapshot
            #   - release_model: xiaomi_mir3g
            #     release_ver: stable
          context: 
            - DockerHub
